.timeline-section {
  margin: 20px;

  .timeline {
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: 14px;
    font-weight: 400;

    p {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: #333;
      }

      &.selected {
        background-color: gray;
        color: white;
        border-radius: 4px;
        padding: 5px 10px;
      }
    }
  }

  .graph {
    .graph-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;

      .price-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
      }

      .responsive-chart {
        width: 100%;
        height: 80px;
      }

      .grayFont {
        color: gray;
        font-size: small;
      }

      .highest-value {
        color: green;
      }

      .lowest-value {
        color: red;
      }
    }
  }
}
