.bitcoin-value-card {
  margin: 20px;

  .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .bitcoin-info {
      display: grid;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        i {
          font-size: 24px;
          margin-right: 10px;
        }

        span {
          font-size: 1rem;
          font-weight: bold;
        }

        p {
          margin: 0;
        }
      }

      .value {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
      }

      .additional-info {
        display: flex;
        justify-content: space-between;
        color: #777;

        .percentage {
          background: red;
          padding: 5px 10px;
          border-radius: 10px;
          font-size: 13px;
          color: #ffffff;
          align-self: center;
        }
      }

      .dropdown-icon {
        margin: auto;
      }

     
    }

    .dropup-icon {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      i {
        font-size: 18px;
      }
    }
  }
}

.down-arrow-section {
  display: flex;
  justify-content: space-around;

  button {
    padding: 15px 20px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &.sell {
      background: rgb(110, 201, 224);
    }

    &.buy {
      background-color: rgb(226, 48, 131);
    }
  }
}